@page
@model RazorPages_Task.Pages.Delete.DeletePageModel
@{

}


<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <style>
        body {
            background-color: bisque;
            padding: 0;
            margin: 0;
            position: relative;
        }

        h1 {
            position: absolute;
            top: -60px;
            left: 340px;
            color: red;
        }

        form {
            border: 4px solid red;
            width: 50%;
            height: 20vh;
            margin: auto;
            margin-top: 150px;
        }

        label {
            margin-left: 200px;
            font-size: 1.2em;
        }

        input {
            width: 150px;
            height: 20px;
            margin-top: 10px;
            font-size: 1em;
        }

        .imginput {
            border: 2px solid red;
            height: 25px;
        }

        button {
            width: 80px;
            height: 30px;
            margin-left: 270px;
            margin-top: 20px;
            font-size: 1.2em;
            border: 1px solid black;
            background-color: red;
            color: white;
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <h1>Delete Person</h1>
    <form method="post">
        <label>Id:</label>
        <input asp-for="id" />
        <br />
        <button type="submit">Delete</button>
    </form>

</body>
</html>

