@page
@model RazorPages_Task.Pages.Delete.DeletePageModel
@{

}


<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <h1>Delete Person</h1>
    <form method="post">
        Id : <input asp-for="id" />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>

